@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #1f1f1f;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
}

main header{
    width: 100%;
}

main header img{
    width: 100%;
}

.container-todo h1{
    font-size: 30px;
    color: #ebebeb;
    margin: 2rem 0;
}

.container-todo{
    position: absolute;
    top: 25%;
}

main form input{
    width: 300px;
    height: 45px;
    outline: none;
    font-size: 16px;
    padding-left: 0.2rem;
}

.content-list-todo{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-list-todo ul{
    height: 200px;
    list-style: none;
    text-align: left;
}

.content-list-todo ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 0.5rem;
    border: 1px solid black;
}

.content-list-todo ul li div{
    margin-left: 2rem;
}

.content-list-todo ul li p{
    display: inline-block;
}

.content-list-todo ul li button{
    background: none;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    margin-left: 0.2rem;
    cursor: pointer;
}

.textChecked{
    text-decoration: line-through;
    color: grey;
}